<%= render 'shared/error_messages' %>

<%= form_for article do |f|%>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <div class="writeArticle__formImg">
    <% if article.image? %>
      <%= image_tag article.image.url %>
    <% else %>
      <%= image_tag "default.png" %>
    <% end %>
  </div>
  <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'writeArticle__formImgBtn' %>
  <div class="writeArticle__formTitle">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, placeholder:"最大40文字" %>
  </div>
  <div class="writeArticle__formBody">
    <%= f.label :body, '本文' %>
    <%= f.text_area :body, rows: 10, placeholder:"最大2000文字" %>
  </div>
  <div class="writeArticle__formTags">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
        <%= tag.check_box class: 'form-check-input' %>
        <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="saveBtn">
    <%= f.submit '保存' %>
  </div>
<% end %>