<div class="wrapper">
  <div class="indexInner">
    <% if flash[:notice] %>
      <div><%= flash[:notice] %></div>
    <% end %>
    <% @articles.each do |article| %>
      <a href="<%= "/articles/#{article.id}/show" %>">
        <img src="<%= "/article_images/#{article.image_name}" %>">
        <div class="title"><%= link_to(article.title, "/articles/#{article.id}") %></div>
        <div class="body"><%= article.body %></div>
      </a>
    <% end %>
    <td><%= link_to "新規作成", new_article_path %></td>
  </div>
</div>
