<div>
<% if @current_user %>
  <%= @current_user.name %>
  <%= link_to 'ログアウト', logout_path, method: :delete, class: '' %>
<% else %>
  <%= link_to '登録', new_user_path, class: '' %>
  <%= link_to 'ログイン', loginform_path, class: '' %>
<% end %>
</div>
<div class="wrapper">
  <div class="indexInner">
    <% if flash[:notice] %>
      <div><%= flash[:notice] %></div>
    <% end %>
    <%= form_tag articles_path, method: :get do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み',
                       class: '',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    <% @articles.each do |article| %>
      <a href="<%= "/articles/#{article.id}/show" %>">
        <img src="<%= "/article_images/#{article.image_name}" %>">
        <div class="title"><%= link_to(article.title, "/articles/#{article.id}") %></div>
        <div class="body"><%= article.body %></div>
      </a>
    <% end %>

    <%= paginate @articles %>

    <% if @current_user %>
    <td><%= link_to "新規作成", new_article_path %></td>
    <% end %>
  </div>
</div>
