<div class="articleImg">
  <% if @article.image? %>
    <%= image_tag @article.image.url %>
  <% else %>
    <%= image_tag "/assets/default.png" %>
  <% end %>
</div>
<div class="container container--small">
  <div class="article">
    <% if flash[:notice] %>
      <div class="flash"><%= flash[:notice] %></div>
    <% end %>
    <div class="article__tags">
      <% @article.tags.each do |tag| %>
        <span class="article__tag"><%= tag.name %></span>
      <% end %>
    </div>
    <div class="article__user"><%= @user.name %></div>
    <p class="article__title">
      <%= @article.title %>
    </p>
    <div class="article__time"><%= @article.created_at.to_s(:datetime_jp) %></div>
    <p class="article__body">
      <%= simple_format(@article.body) %>
    </p>
    <% if @current_user && @current_user.id == @user.id  %>
      <div class="buttonWrapper">
        <div class="editBtn"><%= link_to "編集", edit_article_path %></div>
        <div class="deleteBtn"><%= link_to "削除", @article, method: :delete %></div>
      </div>
    <% end %>
  </div>
  <div class="comments">
    <div class="comments__title">コメント</div>
    <% if !@article.comments.empty? %>
      <%= render @article.comments %>
    <% else %>
      <div>コメントはまだありません</div>
    <% end %>
  </div>
  <% if @current_user %>
    <%= render partial: 'comments/form', locals: { comment: @comment} %>
  <% end %>
</div>
