<div class="wrapper">
  <div class="container">
    <div class="articles-show-item">
      <% if flash[:notice] %>
        <div><%= flash[:notice] %></div>
      <% end %>
      <div class="image">
        <img src="/article_images/<%= @article.image_name %>">
      </div>
      <p class="title">
        <%= @article.title %>
      </p>
      <p class="body">
        <%= @article.body %>
      </p>
      <div class="buttonWrapper">
        <div><%= link_to "編集", edit_article_path %></div>
        <div><%= link_to "削除", @article, method: :delete %></div>
        </div>
    </div>
  </div>
</div>

<div>
  <div>コメント</div>
  <%= render @article.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment} %>

