<div class="container">
  <div class="users">
    <h2 class="users__title">ユーザーで絞り込む</h2>
    <div class="users__cards">
      <% @users.each do |user| %>
        <div class="users__card">
          <div class="userImg">
            <% if user.image? %>
              <%= image_tag user.image.url, :class => 'articles__cardImg' %>
            <% else %>
              <%= image_tag "/assets/default.png", :class => 'articles__cardImg' %>
            <% end %>
          </div>
          <a href="<%= "/users/#{user.id}/articles" %>">
            <div class="users__cardName"><%= user.name %></div>
          </a>
          <% if @current_user && @current_user != user  %>
            <%= render partial: 'relationships/follow_button', locals: { user: user} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
